@bgcolor:#f3f3f3;
@nav_bgcolor:#eb6120;

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: @bgcolor;
}
#nav{
  background-color: @nav_bgcolor;
  height: 50px;
  line-height: 50px;
    .back{
      color: white;
      text-decoration: none;
      font-size: 43px;
    }
  b{
    color: white;
    font-size: 16px;
  }
  #navbuttom{
      width: 30px;
      height: 30px;
    }
}
#navbar-collapse{
  display: none;
  background-color: @nav_bgcolor;
  width: 116px;
  height: 92px;
  position: absolute;
  right: 0;
  top: 50px;
  line-height: 46px;
  padding-left: 20px;
  z-index: 999;
  ul{
    display: inline-block;
    list-style: none;
    li{
      text-decoration: none;
      a{
        color: white;
      }
      img{
        width: 25px;
        height: 25px;
      }
    }
  }

}


  #contet_header {
    h4 {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0;
      span {
        margin-left: 10px;
        color: @nav_bgcolor;
        font-size: 20px;
      }
    }
    p{
      margin: 0;
    }

  }
  #right {
      color: #cdcdcd;
      font-size: 43px;
    }

  .img_show{
    border-top: 1px dotted #c6c6c6;
    padding-top: 15px;
    .owl-item:active img{
      border: solid 1px @nav_bgcolor;
    }

    .contet_cantrel{
     b {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        color: #5f5f5f !important;
        span {
          margin-left: 10px;
          color: @nav_bgcolor;
          font-size: 20px;
        }
      }
      p{
        position: relative;
        top:-20px;
        color: #c6c6c6;
        margin: 0;
      }
    }
  }
.movietime{
  border-top: 1px solid #ddd;
  li{
    a{
    color:black;
    display: inline-block;
    padding: 10px 13px;
    border-radius: 22px;

    }

    }

      }



  #myTabContent{
    .row{
      height: 100px;
      overflow: hidden;
      border-bottom: 1px solid #ddd;
      .col-xs-4{
        b{
          color: black;
        }
        .dorr{
          color: @nav_bgcolor;
        }


      }
    }
  }


