* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
}
#nav {
  background-color: #eb6120;
  height: 50px;
  line-height: 50px;
}
#nav .back {
  color: white;
  text-decoration: none;
  font-size: 43px;
}
#nav b {
  color: white;
  font-size: 16px;
}
#nav #navbuttom {
  width: 30px;
  height: 30px;
}
#navbar-collapse {
  display: none;
  background-color: #eb6120;
  width: 116px;
  height: 92px;
  position: absolute;
  right: 0;
  top: 50px;
  line-height: 46px;
  padding-left: 20px;
  z-index: 999;
}
#navbar-collapse ul {
  display: inline-block;
  list-style: none;
}
#navbar-collapse ul li {
  text-decoration: none;
}
#navbar-collapse ul li a {
  color: white;
}
#navbar-collapse ul li img {
  width: 25px;
  height: 25px;
}
#contet_header h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
#contet_header h4 span {
  margin-left: 10px;
  color: #eb6120;
  font-size: 20px;
}
#contet_header p {
  margin: 0;
}
#right {
  color: #cdcdcd;
  font-size: 43px;
}
.img_show {
  border-top: 1px dotted #c6c6c6;
  padding-top: 15px;
}
.img_show .owl-item:active img {
  border: solid 1px #eb6120;
}
.img_show .contet_cantrel b {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #5f5f5f !important;
}
.img_show .contet_cantrel b span {
  margin-left: 10px;
  color: #eb6120;
  font-size: 20px;
}
.img_show .contet_cantrel p {
  position: relative;
  top: -20px;
  color: #c6c6c6;
  margin: 0;
}
.movietime {
  border-top: 1px solid #ddd;
}
.movietime li a {
  color: black;
  display: inline-block;
  padding: 10px 13px;
  border-radius: 22px;
}
#myTabContent .row {
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
#myTabContent .row .col-xs-4 b {
  color: black;
}
#myTabContent .row .col-xs-4 .dorr {
  color: #eb6120;
}
