* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
  height: 1000px;
}
#nav {
  background-color: #eb6120;
  height: 50px;
  line-height: 50px;
}
#nav .back {
  color: white;
  text-decoration: none;
  font-size: 43px;
}
#nav b {
  color: white;
  font-size: 16px;
}
#nav #navbuttom {
  width: 30px;
  height: 30px;
}
#navbar-collapse {
  display: none;
  background-color: #eb6120;
  width: 116px;
  height: 92px;
  position: absolute;
  right: 0;
  top: 50px;
  line-height: 46px;
  padding-left: 20px;
  z-index: 999;
}
#navbar-collapse ul {
  display: inline-block;
  list-style: none;
}
#navbar-collapse ul li a {
  text-decoration: none;
  color: white;
}
#navbar-collapse ul li img {
  width: 25px;
  height: 25px;
}
#contet_header {
  height: 125px;
  padding-left: 25px;
}
#contet_header b {
  color: black;
  font-size: 18px;
}
#contet_header b img {
  width: 20px;
  height: 20px;
}
#contet_header p {
  margin: 0;
  position: relative;
  top: -18px;
}
#contet_header .call {
  position: relative;
  top: -38px;
}
#contet_header .call span {
  color: #337ab7;
}
.content {
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.content h4 {
  padding-left: 10px;
  border-left: 5px solid #eb6120;
  margin-bottom: 0;
}
.content #footer {
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  top: 20px;
  cursor: pointer;
}
.content .nonloop {
  background-color: white;
  margin-top: 20px;
}
.content .nonloop .item dl {
  border-bottom: 5px solid #f3f3f3;
  border-right: 10px solid #f3f3f3;
  height: 55px;
  margin-bottom: 0;
}
.content .nonloop .item dl .left {
  width: 60px;
  padding: 5px;
  border-left: 5px solid darkmagenta;
  border-right: 5px solid #f3f3f3;
  text-align: center;
}
.content .nonloop .item dl .left img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
}
.content .nonloop .item dl .left span {
  font-size: 10px;
  color: #eb6120;
}
.content .nonloop .item dl .left1 {
  width: 60px;
  padding: 5px;
  border-left: 5px solid #eb6120;
  border-right: 5px solid #f3f3f3;
  text-align: center;
}
.content .nonloop .item dl .left1 img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
}
.content .nonloop .item dl .left1 span {
  font-size: 10px;
  color: #eb6120;
}
.content .nonloop .item dl .left2 {
  width: 60px;
  padding: 5px;
  border-left: 5px solid green;
  border-right: 5px solid #f3f3f3;
  text-align: center;
}
.content .nonloop .item dl .left2 img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
}
.content .nonloop .item dl .left2 span {
  font-size: 10px;
  color: #eb6120;
}
.content .nonloop .item dl .right {
  line-height: 50px;
  position: relative;
  top: -50px;
  left: 68px;
  font-size: 12px;
}
.content .nonloop .boder_right {
  border-right: 10px solid white !important;
}
.content .nonloop .boder_right .right {
  border-bottom: 5px solid #f3f3f3 !important;
  width: 257px;
}
.return_top {
  height: 50px;
  width: 50px;
  background-color: black;
  opacity: 0.6;
  display: none;
  position: fixed;
  right: 8px;
  top: 550px;
}
.return_top img {
  height: 30px;
  position: relative;
  margin-left: 10px;
  margin-right: 12px;
}
