#nav{
  background-color: #eb6120;
  margin: 0;
  #dropbtn{
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 5%;
      top: 20%;
    }
  }
  .navbar-header{
    line-height: 50px;
    #gewara_logo{
      width: 120px;
      height:35px;
    }
    .local{
      width: 100px;
      text-decoration: none;
      color: #fffafe;
      #site{
        width: 30px;
        height: 30px;
      }
    }
    #slidown{
      a{
        color:#fffafe !important;
      }
    }
  }
}
#dropdown{
  height: 60px;
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 0;
  width: 30%;
  background-color: #eb6120;
  ul{
    padding: 0;
    height: 60px;
    li{
      list-style-type: none;
      width: 100%;
      height: 50%;
      margin: 0;
      text-align: center;
      &:hover{
        background-color: #cdcdcd;
      }
      a{
        height:100%;
        line-height: 30px;
        color:#fffafe;
        text-decoration: none;
      }
    }
  }
}
#gewara{
    ul{
      padding: 0;
      height: 40px;
      li{
        list-style-type: none;
        float: left;
        width:50% ;
        height: 100%;
        border-bottom: 3px solid #999999;
        a{
          text-decoration: none;
          text-align: center;
          display: block;
          width: 100%;
          height:100%;
          line-height: 40px;
        }
      }
    }
  }

#site_nav{
  display: none;
  width:100%;
  height: 200px;
  position: absolute;
  top: 140px;
  background-color: #fffafe;

  .nav{
    height:100%;
    li{
      padding: 0;
      a{
        height:100%;
        margin: 0 !important;
        border-bottom: 1px solid white;
      }
    }
  }
  .view{
    width: 70%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f3f3f3;
    ul{
      padding: 0;
      li{
        height: 40px;
        line-height: 40px;
        list-style-type: none;
        border-bottom: 1px solid white;
        &:hover{
          background-color: #dddddd;
        }
        a{
          display: block;
          margin-left: 10%;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
    }
  }
}

#special_nav{
  display: none;
  width:100%;
  height: 200px;
  position: absolute;
  top: 140px;
  background-color: #fffafe;

  .nav{
    height:100%;
    li{
      padding: 0;
      a{
        height:100%;
        margin: 0 !important;
        border-bottom: 1px solid white;
      }
    }
  }
  .view{
    width: 70%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f3f3f3;
    ul{
      padding: 0;
      li{
        height: 40px;
        line-height: 40px;
        list-style-type: none;
        border-bottom: 1px solid white;
        &:hover{
          background-color: #dddddd;
        }
        a{
          display: block;
          margin-left: 10%;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
    }
  }
}





