/*登录样式*/
.back {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 80px;
}
.denglu {
  color: white;
  font-size: 48px;
  text-align: center;
  position: absolute;
  left: 45%;
  top: 20px;
}
#header {
  background-color: #eb6120;
  height: 100px;
}
/*账号登录样式*/
#loging {
  background-color: #f0efee;
  border-bottom: 4px solid #eb6120;
  height: 100px;
}
.idnumber {
  font-size: 48px;
  color: #eb6120;
  position: absolute;
  left: 30%;
  top: 20px;
}
/**手机输入框样式*/
#iphonediv {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #dcdcdc;
  position: relative;
  top: 50px;
}
#personid {
  height: 60px;
  width: 60px;
  margin: 10px;
}
#iphoneid {
  width: 90%;
  height: 89px;
  position: absolute;
  left: 100px;
  bottom: 5px;
  border: none;
  font-size: 34px;
}
#iphonediv span {
  height: 100px;
}
/**密码输入框样式*/
#pswdiv {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #dcdcdc;
  position: relative;
  top: 60px;
}
#cloneid {
  height: 60px;
  width: 60px;
  margin: 10px;
}
#pswid {
  width: 90%;
  height: 89px;
  position: absolute;
  left: 100px;
  bottom: 5px;
  border: none;
  font-size: 34px;
}
/**验证输入框样式*/
#trydiv {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #dcdcdc;
  position: relative;
  margin-top: 160px;
}
#tryid {
  height: 60px;
  width: 60px;
  margin: 10px;
}
#yanzhengid {
  width: 50%;
  height: 89px;
  position: absolute;
  left: 100px;
  bottom: 5px;
  border: none;
  font-size: 34px;
}
#code {
  width: 200px;
  height: 89px;
  border: 0;
  position: absolute;
  right: 2px;
  bottom: 2px;
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: bolder;
}
/****登录的样式****/
#btndiv {
  width: 100%;
  height: 100px;
  background-color: white;
}
.btn {
  width: 100%;
  height: 100px;
  background-color: #eb6120;
  font-size: 40px;
  position: relative;
  margin-top: 60px;
  color: white;
  border-radius: 10px;
}
